@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Open+Sans:wght@300;400&display=swap');
@import '../../App.scss';

$dark-grey: #4B4B4B;
$light-blue: #C0E4EA;

*{
  margin: 0;
  padding: 0;
  @include text;
}

.Header{
  background-color: $dark-grey;
  font-family: Helvetica;
  margin:0px;
  padding: 15px 30px;
  display:flex;
  justify-content:space-between;
  .Headerleft{
    
    display: flex;
    width: 400px;
    align-items:baseline;
    .HeaderleftLiTitle{
      font-size:35px;
      
    }
  }
  .HeaderRight{
    
    display: flex;
    
    align-items:center;
    
  }
  ul, li{
    list-style: none;
  }
  li>button{
    margin: 0px 20px;
    background-color: transparent;
    border: none;
   color: #e2d8d8;
 text-decoration: none;
    width: 100%;
  }
  li>button:hover{
    color: #000;
    color: white;
  }
  li{
    float: left;
    text-align:center
  }
  li>ul{
    display: none;
  }
  li:hover>ul {
    display:block;
  }
}

