@import '../../App.scss';

.SignUp{
    @include text;
    .SignUpForm{
       display:flex;
       flex-direction: column;
       max-width: 400px;
       border-radius: 20px;
       margin: 20px auto;
       padding: 40px 70px;
       border: 1px solid black;
       
       h2{
         @include title;
         font-size:30px;
       }

       h5{
        margin-bottom: 15px;
       }

       select, input{
        margin-bottom: 15px;
        border-radius: 6px;
        min-height: 27px;
        padding: 1px 4px;
       }

       label{
           align-self: flex-start;
       }

       button{
        margin-top: 15px;
       }
       
       button{
        max-width: 300px;
        max-height: 40px;
        border-radius: 0.5em;
        padding: 2px 20px;
        align-self: center;
    }
    button:hover {
        background-color: rgb(255, 255, 255);
    }
    }
}

.buttonrienijfnj {
    align-self: center;
    max-width: 120px;
    max-height: 60px;
    @include link-body;
    background-color: white;
    border-radius: 0.5em;
    border: 3px solid rgb(149, 173, 140);
    color:  rgb(149, 173, 140);
    margin-right: 0px;
    display: inline-block;
    padding: 0.25em 0.75em;
    text-decoration: none;
  }
  .buttonrienijfnj:hover {
    background-color:  rgb(149, 173, 140);
    color: white;
  }
    
