@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Open+Sans:wght@300;400&display=swap');

$full-height-without-header: calc(100vh - 120px);
$blue: #18A0FB;
$light-blue: #C0E4EA;
$dark-purple: #483786;
$purple: #5956E9;
$black: #000000;
$white: #FFFFFF;
$dark-grey: #4B4B4B;
$light-grey: #A6C1DE;
$letter-spacing: -0.02em;

body {
  margin: 0
}

@mixin title {
  font-family: 'League Gothic', sans-serif;
  font-style: normal;
  letter-spacing: 0.02em;
}
@mixin text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  letter-spacing: $letter-spacing;
}

@mixin link-body {
  font-family: 'League Gothic';
  font-style: lighter;
  font-weight: 100;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.03em;
}